body {
    background: url('https://c4.wallpaperflare.com/wallpaper/942/1023/763/pokemon-video-games-retro-games-wallpaper-preview.jpg');
    background-size: cover;
    margin: 0;
    height: 100vh; 
}

#container {
    height: 25%;
    width: 20%;
    padding-left: 60px;
    position: absolute;
    top: 50%;
    z-index: 0;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    border-radius: 1%;
    right: 35%;
}

#logo {
    height: 1em;
    position: relative;
    top: 8px;
}

#pokedex {
    position: relative;
    width: 50%;
   max-height: 50px;
    background-position: center;
    top: 5%;
    left: 9%;
    z-index: index 0;
}

div.gallery {
    position: relative;
    background-color: rgba(224, 224, 224, 0);
    border-radius: 1%;
    text-align: center;
    max-width: 400px;
    max-height: 300px;
    margin-bottom: 50px;
    right: 80px;
    border-radius: 1%;
}

.bck {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 5px white;
    background-color: rgba(255, 255, 255, 0.845);
    width: 300px;
    opacity: 90%;
    border-radius: 20%;
}

div.gallery:hover {
    border: 0px solid rgb(255, 255, 255);
}

div.gallery img {
    width: 60%;
    height: 20%;

}

div.desc {
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color: black;
    border-radius: 1%;
    
}

#app {
    height: 100px;
}

a{
    text-decoration: none;
}

/* Additional styles for smoother coexistence */
#container, #pokedex {
    display: inline-block;
}

#container {
    margin-right: 19px;
    border: radius 40%;
}