#main-page {
    background-color: black;
}

#page-wrapper {
    display: flex;
    justify-content: space-around;

}

#filter-bar {
    border-radius: 10px;
    background-color: gray;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 100%;
    width: 30%;
    text-align: center;
    
}

#filter-parameter {
    background-color: lightgray;
    height: 100%;
    color: black;
    overflow: scroll;
    list-style: none;
}

.filter-parameter-name {
    font-size: 20px;
    padding: 5px;
}

#header {
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
}

#card-container {
    display: flex;
    justify-content: space-around;
    flex-flow:wrap;
    width: 70%;
    border: white;
}


.spy-card {
    background-color: transparent;
    width: 200px;
    height: 250px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    margin-bottom: 10px;
}



.spy-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.spy-card:hover .spy-card-inner{
    transform: rotateY(180deg);
}

.spy-card-front, .spy-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .spy-card-front {
    background-color: #bbb;
    color: black;
  }

  .spy-card-back {
    background-color: gray;
    color: white;
    transform: rotateY(180deg);
  }

  #spy-card-details-container {
    background-color: #bbb;
    width: 100%;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: row;
    
  }

  #spy-details-img {
    border: 20px;
    border-radius: 20px;
    border-color: black;
    padding: 10px;
  }